@use '_variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: variables.$Yellow-primary;
    font-family: variables.$Font-primary;
    font-size: 100px;

}