@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

$Yellow-light: rgb(245, 238, 122);
$Yellow-primary: rgb(255, 240, 0);
$Yellow-dark: rgb(189, 179, 23);

$Font-primary: 'Oleo Script Swash Caps';
